div {
    color: white;
    float: left;
    text-align: center;
    line-height: 25px;
    padding: 2%;
    font-family: 微軟正黑體;
}

* {
    box-sizing: border-box
}

.header {
    background: blue;
    width: 100%;
    height: 50px;
}

/*
.nav {
    background: yellow;
    width: 100%;
    height: 50px;
    color: black;
}
*/

.sidebar {
    background: navy;
    width: 25%;
    height: 350px;
    line-height: 350px;
}

.main {
    background: lightgreen;
    width: 75%;
    height: 350px;
    line-height: 350px;
}

.footer {
    background: orange;
    width: 100%;
    height: 50px;
}

.nav1>li {
    display: inline-block;
    border: 1px solid #ddd;
    border-right: 0;
    padding: .5em 1em;
    font-family: 新細明體;
    position: relative;
    width: 25%;
    margin-left: -5px;
    background: lightgrey;
    box-sizing: border-box;
    }

.nav1>li:last-child{border-right: 1px solid #ddd}

li {
    cursor: pointer;
    font-family: 標楷體;
}

.submenu {
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 15px;
    position: absolute;
    left: -1px;
    top: 100%;
    width: 200px;
    padding: 0;
    display: none;
}

.submenu li {
    list-style: none;
    padding: .5em 15px;
    color: black;
}

.nav1>li:hover .submenu {
    display: block;
}

.submenu>li:hover {
    background: lightblue;
    color: blue;
}